<a href="https://colab.research.google.com/github/saimshahzad2030/assignment-by-me/blob/master/first_offficial_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
Radius=float(input("radius: "))
area=3.1452*Radius*Radius
print('Area of circle with radius {} is {}'.format(Radius,area))

radius: 2
Area of circle with radius 2.0 is 12.5808

**Q2**

In [0]:
num=float(input("enter number: "))
if num==0:
  print('zero entered')
elif num<0:
  print('Negative number entered')
else :
  print('positive number entered')

enter number: 0
zero entered

**Q3**

In [0]:
numerator=int(input("enter number: "))
denominator=int(input("enter denominator: "))
if numerator%denominator==0:
  print('Number {} is Completely divisible by {}'.format(numerator,denominator))
else :
  print('Number {} is not Completely divisible by {}'.format(numerator,denominator))

enter number: 5
enter denominator: 4
Number 5 is not Completely divisible by 4

Q4

In [0]:
radius=float(input("enter radius of sphere: "))
volume=1.333*3.142*radius*radius
print('Volume of the Sphere with Radius {} is {}'.format(radius,volume))

enter radius of sphere: 4.5
Volume of the Sphere with Radius 4.5 is 84.81279149999999

Q5

In [0]:
string=str(input("enter string: "))
num_of_prints=int(input("How many copies of String you need: "))
result=num_of_prints*string
print(f'{num_of_prints} copies of {string} are {result}')

enter string: hi
How many copies of String you need: 4
4 copies of hi are hihihihi

Q6

In [0]:
num=int(input("enter number: "))
if num%2==0:
  print(f'{num} is even')
else :
  print(f'{num} is odd')

enter number: 4
4 is even

Q7

In [0]:
vowels=['a','e','i','o','u','A','E','I','O','U']
letter=str(input("enter letter: "))
if letter in vowels:
  print(f'Letter {letter} is vowel')
else :
  print(f'Letter {letter} is not vowel')

enter letter: q
Letter q is not vowel

Q8

In [0]:
height=float(input("enter height: "))
base=float(input("enter base: "))
area=height*base//2
print(f'Area of triangle of Base {base} and Height {height} is {area}')

enter height: 4
enter base: 5
Area of triangle of Base 5.0 and Height 4.0 is 10.0

Q9

In [0]:
principle_amount=float(input("Please enter principal amount: "))
rate_interest=float(input("please enter rate of interest in %: "))
years=int(input("enter number of years for investment: "))
rate=rate_interest*100
after_rate=principle_amount*(1+(10/100)*years)
after_rate=round(after_rate,2)
print(f'After {years} years your principal amount {principle_amount} over an interest rate of {rate_interest}% will be {after_rate} ')

Please enter principal amount: 10000
please enter rate of interest in %: 0.2
enter number of years for investment: 5
After 5 years your principal amount 10000.0 over an interest rate of 0.2% will be 15000.0

Q10

In [0]:
import math
X1=int(input("Enter Co-ordinate for x1: "))
X2=int(input("Enter Co-ordinate for x2: "))
Y1=int(input("Enter Co-ordinate for y1: "))
Y2=int(input("Enter Co-ordinate for y1: "))
A=(X2-X1)**2
B=(Y2-Y1)**2
c= A+B
distance=math.sqrt(c)
print(f'Distance between points ({X1}, {X2}) and ({Y1}, {Y2}) is {distance}')

Enter Co-ordinate for x1: 2
Enter Co-ordinate for x2: 4
Enter Co-ordinate for y1: 4
Enter Co-ordinate for y1: 4
Distance between points (2, 4) and (4, 4) is 2.0

Q11

In [0]:
height_in_feet=int(input("height in feet: "))
height_in_cm=height_in_feet*30.48
height_in_feet=round(height_in_feet)
print(f'There are {height_in_cm} Cm in {height_in_feet} ft')

height in feet: 5
There are 152.4 Cm in 5 ft

Q12

In [0]:
import math
height=float(input("your height in cm: "))
weight=float(input("your weight in kg: "))
bmi=(weight/(math.pow(height*0.01,2)))
bmi=round(bmi,2)
print(bmi)

your height in cm: 93
your weight in kg: 75
86.72

Q13

In [0]:
n=int(input("enter value of n: "))
total=n*(n+1)/2
print(f'sum of n positive integers till {n} is {total}')

enter value of n: 5
sum of n positive integers till 5 is 15.0

Q14

In [2]:
n=input("please enter a number: ")
sum = 0
for d in n:
  sum+=int(d)
  print('sum of the digits are : ',sum)

please enter a number: 4321
sum of the digits are :  4
sum of the digits are :  7
sum of the digits are :  9
sum of the digits are :  10